@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-dark: #020617;
  --color-brand-primary: #0050C8;
  --color-brand-accent: #00B5D1;
}

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
}
